
<div class="hero">
  <div class="banner">
    <h1>Gear</h1>
  </div>

  <%= render "shared/map" %>

  <div class="section section-between">
    <div class="card-box">
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
      <%= render "shared/cards" %>
    </div>
  </div>
</div>
